name: pull_hem

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="
        ls /usr/bin
        which helm
        docker version
        helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
