name: pull_hem

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="
        #ls /usr/bin
        #which helm
        #docker version
        pwd
        #helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
        ls
        #wget https://github.com/tickstep/aliyunpan/releases/download/v0.3.7/aliyunpan-v0.3.7-linux-amd64.zip
        # 解压安装包
        #unzip aliyunpan-v0.3.7-linux-amd64.zip
        # 进入安装目录
        #cd aliyunpan-v0.3.7-linux-amd64
        #pwd
        #ls
    - name: Checkout
      uses: actions/checkout@v5
      with:
        token: ${{ secrets.HELM_TEST_TOKEN }}
    - name: 'Working'
      run: |
        helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
        git config user.name daleiming
        git config user.email daleiming@sohu.com
        #git config user.token “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”
        git add .
        git commit -m "test uplaod"
        git push
            
    
    #- name: Upload file
    #  uses: actions/upload-artifact@v4
    #  with:
    #    name: kafka
    #    path: /home/runner/work/helm-action/helm-action/kafka-32.4.3.tgz
        
