name: pull_hem

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="
        #ls /usr/bin
        #which helm
        #docker version
        pwd
        #helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
        ls
        #wget https://github.com/tickstep/aliyunpan/releases/download/v0.3.7/aliyunpan-v0.3.7-linux-amd64.zip
        # 解压安装包
        #unzip aliyunpan-v0.3.7-linux-amd64.zip
        # 进入安装目录
        #cd aliyunpan-v0.3.7-linux-amd64
        #pwd
        #ls
    - name: Checkout
      uses: actions/checkout@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: 'Working'
      run: |
        #helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
        docker pull bitnamicharts/kafka:sha256-12b98a1b358a6bc10c498817c801bd49e4a9d4c965af8acbe5a70764ec836997
        docker save -o bitnamicharts-kafka.tar bitnamicharts/kafka:sha256-12b98a1b358a6bc10c498817c801bd49e4a9d4c965af8acbe5a70764ec836997
        # git config user.name github-actions[bot]
        # git config user.email github-actions[bot]@users.noreply.github.com
        # #git config user.token “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”
        # git add .
        # git commit -m "test uplaod"
        # git push
      
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: kafka-4.1.1
        name: Kafka 4.1.1 Docker Image
        body: Docker image for Apache Kafka 4.1.1
        files: kafka-4.1.1.tar
        token: ${{ secrets.GITHUB_TOKEN }}            
    
    #- name: Upload file
    #  uses: actions/upload-artifact@v4
    #  with:
    #    name: kafka
    #    path: /home/runner/work/helm-action/helm-action/kafka-32.4.3.tgz
        
